<mt:if name="direct_asset_insert">
    <div>
    <mtapp:setting
        id="file_name"
        label_class="top-label"
        label="<__trans phrase="Name">">
      <mt:var name="title" escape="html" />
    </mtapp:setting>
    </div>
</mt:if>

    <input type="hidden" id="display_image" name="include" value="1" />
    <input type="hidden" name="wrap_text" value="1" />

    <div id="new_entry_prefs">
      <div id="include_prefs"">
          <mtapp:setting
              id="alignment_var"
              label="<__trans phrase="Alignment">"
              label_class="top-label"
              hint=""
              show_hint="0">
            <input type="radio" name="align" id="align-left" class="rb" value="left" <mt:if name="align_left">checked="checked" </mt:if>/>
            <label class="icon-left icon-left-xwide icon-align icon-align-left"><__trans phrase="Left"></label>
            <input type="radio" name="align" id="align-center" class="rb" value="center" <mt:if name="align_center">checked="checked" </mt:if>/>
            <label class="icon-left icon-left-xwide icon-align icon-align-center"><__trans phrase="Center"></label>
            <input type="radio" name="align" id="align-right" class="rb" value="right" <mt:if name="align_right">checked="checked" </mt:if>/>
            <label class="icon-left icon-left-xwide icon-align icon-align-right"><__trans phrase="Right"></label>
          </mtapp:setting>
          <mtapp:setting
              id="use_player"
              label="<__trans phrase="Embed a flash player for this podcast?">"
              label_class="no-header"
              hint=""
              show_hint="0">
              <input type="checkbox" name="use_player" id="use_player" value="1" checked="checked" />
              <label for="new_entry"><__trans phrase="Embed a flash player for this podcast?"></label>
          </mtapp:setting>
      </div>
    </div>
